body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 30%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.radio-group, .checkbox-group {
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.button-submit{
    width:300px;
    height:50px;
   background-color:greenyellow;
   border-radius: 4px;
   font-size: 20px;
}

.button-submit:hover{
    background-color: aquamarine;
}